%section.intro
  %h1
    Become an assistant
  %p
    Help make a difference to health and treamtent centres by relaying information between the beople on the ground and the site.
  %br
  %p
    It's easy, simply respond to a request, sign up then start recording information. No pressure, if you are away from your phone the message will be redirected to another assistant within 15 minutes.


%section.messages
  %h2 New requests for assistants
  .inner
    .message
      %h3 +02 778928812
      %p Hi, I'm Terrance in Sierra Leone we have set up a new Ebola treatment centre and need many more doctors, nurses etc.
      %br
      %br
      %a{:href => '', :class => 'button'}
        Respond to this message
      %br
      %br
    .message
      %h3 +44 7531 7294 53
      %p My name's Irene, we need food and clothing. @ border in Hungary.
      %br
      %br
      %a{:href => '', :class => 'button'}
        Respond to this message
      %br
      %br
