%section.intro
  %h1 Your assistant dashboard
  %br
  %a{:href => '/'}Learn more about being an assistant
%section.links
  .link
    = link_to "Add a new centre", new_centre_path, :class => 'button'
  .link
    = link_to "Your centres", "", :class => 'button'
